.node {
  display: flex;
  gap: 8px;
}

.button {
  outline: none;
  border: none;
  background: none;
}
.node-text {
  text-transform: capitalize;
  padding: 10px 20px;
}
.children{
    display: flex;
}
