.tree-playground {
  position: relative;
  height: calc(100vh - 73.594px);
  width: 100%;
  overflow: hidden;
}
.tree {
  position: absolute;
  user-select: none;
}
.root-node-wrap {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  max-width: max-content;
  cursor: move;
  display: none;
}
.root-node {
  border: 1px dashed black;
  max-width: max-content;
  padding: 10px 20px;
  text-transform: capitalize;
  font-weight: bold;
}
.root-node .text {
  margin-bottom: 0;
  color: red;
}
.root-node__btn {
  outline: none;
  border: none;
  background: none;
}
.bi-plus-circle {
  font-size: 36px !important;
}
